* text=auto

*.py text eol=lf
*.s text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ini text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.bin binary
*.elf binary
*.o binary
*.exe binary
*.dll binary
*.pyd binary
*.pdf binary
